<div class="container-fluid">
    <h2>Edit Job</h2>
        <form #jobForm="ngForm" (ngSubmit)="update(jobId,job)" novalidate>
            <div class="form-group">
                <label>Code</label>
                <input class="form-control" type="text" required name="Code" #Code="ngModel" [class.is-invalid]="Code.invalid && Code.touched" [(ngModel)]="job.code">
                <div *ngIf="Code.touched && Code.errors">
                    <div class="alert alert-danger" *ngIf="Code.errors.required">Code Required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" required name="Description" #Description="ngModel" [class.is-invalid]="Description.invalid && Description.touched" [(ngModel)]="job.description">
                <div *ngIf="Description.touched && Description.errors">
                    <div class="alert alert-danger" *ngIf="Description.errors.required">Description Required</div>
                </div>
            </div>
            <div class="form-group">
                <Label>Hourly Rate</Label>
                <input class="form-control" type="number" required name="HourlyRate" #HourlyRate="ngModel" [class.is-invalid]="HourlyRate.invalid && HourlyRate.touched" [(ngModel)]="job.hourly_rate">
                <div *ngIf="HourlyRate.touched && HourlyRate.errors">
                    <div class="alert alert-danger" *ngIf="HourlyRate.errors.required">Hourly Rate Required</div>
                </div>
            </div>
            <div class="form-group">
                <Label>Max Hours Per Day</Label>
                <input class="form-control" type="number" required name="MaxHoursPerDay" #MaxHoursPerDay="ngModel" [class.is-invalid]="MaxHoursPerDay.invalid && MaxHoursPerDay.touched" [(ngModel)]="job.maxhoursperday">
                <div *ngIf="MaxHoursPerDay.touched && MaxHoursPerDay.errors">
                    <div class="alert alert-danger" *ngIf="MaxHoursPerDay.errors.required">Max Hours Per Day Required</div>
                </div>
            </div>
            <button mat-flat-button color="accent" type="submit">Update</button>
        </form>
</div>
