<div class="container-fluid">
    <h2>Edit Machine</h2>
        <form #machineForm="ngForm" (ngSubmit)="update(machineId,machine)" novalidate>
            <div class="form-group">
                <label>Machine Code</label>
                <input class="form-control" type="text" required name="MachineCode" #MachineCode="ngModel" [class.is-invalid]="MachineCode.invalid && MachineCode.touched" [(ngModel)]="machine.machine_code">
                <div *ngIf="MachineCode.touched && MachineCode.errors">
                    <div class="alert alert-danger" *ngIf="MachineCode.errors.required">Code Required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" required name="Description" #Description="ngModel" [class.is-invalid]="Description.invalid && Description.touched" [(ngModel)]="machine.description">
                <div *ngIf="Description.touched && Description.errors">
                    <div class="alert alert-danger" *ngIf="Description.errors.required">Description Required</div>
                </div>
            </div>
            <div class="form-group">
                <Label>Hourly Rent</Label>
                <input class="form-control" type="number" required name="HourlyRent" #HourlyRent="ngModel" [class.is-invalid]="HourlyRent.invalid && HourlyRent.touched" [(ngModel)]="machine.hourly_rent">
                <div *ngIf="HourlyRent.touched && HourlyRent.errors">
                    <div class="alert alert-danger" *ngIf="HourlyRent.errors.required">Hourly Rent Required</div>
                </div>
            </div>
            <div class="form-group">
                <Label>Max Hours Per Day</Label>
                <input class="form-control" type="number" required name="MaxHoursPerDay" #MaxHoursPerDay="ngModel" [class.is-invalid]="MaxHoursPerDay.invalid && MaxHoursPerDay.touched" [(ngModel)]="machine.maxhoursperday">
                <div *ngIf="MaxHoursPerDay.touched && MaxHoursPerDay.errors">
                    <div class="alert alert-danger" *ngIf="MaxHoursPerDay.errors.required">Max Hours Per Day Required</div>
                </div>
            </div>
            <button mat-flat-button color="accent" type="submit">Update</button>
        </form>
</div>
