
<div class="container-fluid">
    <h2>Timesheet Submission</h2>
        <form #timecardForm="ngForm" (ngSubmit)=onSubmit(timecardForm)>
            <div class="form-group">
                <label>Site Code</label>
                <input class="form-control" type="text" required name="SiteCode" #SiteCode="ngModel" [class.is-invalid]="SiteCode.invalid && SiteCode.touched" [(ngModel)]="timecardModel.sitecode">
                <div *ngIf="SiteCode.touched && SiteCode.errors">
                    <div class="alert alert-danger" *ngIf="SiteCode.errors.required">Site Code Required</div>
                </div>
                <label>Contractor Name</label>
                <input class="form-control" type="text" required name="ContractorName" #ContractorName="ngModel" [class.is-invalid]="ContractorName.invalid && ContractorName.touched" [(ngModel)]="timecardModel.contractor_name">
                <div *ngIf="ContractorName.touched && ContractorName.errors">
                    <div class="alert alert-danger" *ngIf="ContractorName.errors.required">Contractor Name Required</div>
                </div>
            </div>


            <h3>Labor Entry</h3>
            <div class="form-group">
                <select [(ngModel)]="jobModel.hourly_rate" id="id_of_select_job">
                    <option *ngFor="let job_option of jobs" [ngValue]="job_option.hourly_rate">{{job_option.code}}</option>
                </select>

                <label>Hours worked</label>
                <input class="form-control" type="number" required name="HrsWorked" id="HrsWorked">
                
                <label>Total:</label>
                <input class="form-control" type="number" name="total" id="total">
            </div>


            <h4>Machine Entry</h4>
            <div class="form-group">
                <select [(ngModel)]="machinecardModel.hourly_rent" id="id_of_machine_job">
                    <option *ngFor="let machine_option of machines" [ngValue]="machine_option.hourly_rate">{{machine_option.machine_code}}</option>
                </select>

                <label>Hours Worked</label>
                <input class="form-control" type="number" required name="HrsWorked2" id="HrsWorked2">
               
                <label>Total:</label>
                <input class="form-control" type="number" id="total2" name="total2" >

            </div>
            <div>

                <label>Total from Jobs/Machines: </label>
                <input class="form-control" type="number" id="total3" name="total3" #total3 = "ngModel" [(ngModel)]="timecardModel.total_amount">
           
                <label>Total Hours from Jobs/Machines: </label>
                <input class="form-control" type="number" id="total4" name="total4" #total4 = "ngModel" [(ngModel)]="timecardModel.total_hours">

            </div>
          

            <button mat-flat-button color="accent">Submit</button>
        </form>
</div>