<h1>Job List</h1>
<h3>{{ errorMsg }}</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Job Code</th>
            <th>Description</th>
            <th>Hourly Rate</th>
            <th>Max Hours Per Day</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <button (click)="goAdd()">Add</button>
        <tr *ngFor="let x of jobs;">
            <td>{{x.code}}</td>
            <td>{{x.description}}</td>
            <td>{{x.hourly_rate | currency:'USD':true:'2.2-4'}}/Hr</td>
            <td>{{ x.maxhoursperday }} Hr</td>
            <button (click)="onEdit(x)">Edit</button>
            <button (click)="onDelete(x)">Delete</button>
        </tr>
    </tbody>
</table>                                             
