<!DOCTYPE html>
{% load static %} 
<html lang="en">
    <head>
        <title>Disaster Recovery App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
    </head>
    <body>
        <div class="navbar">
            <a class = "nav-link" href = "{% url 'home'%} " >Home</a>
          <!--  <a href="#news">News</a>-->
            <div class="dropdown">
                <button class="dropbtn"> {% if user.is_authenticated %}{{request.user.email}} {%else%} Sigin/account {% endif%}
                     <i class="fa fa-caret-down"></i>
                </button>
          
              
            </div>
          </div>
          
          <div class="row">
            <div class="side">
          <div class="sidenav">
                  {% if user.is_authenticated %}
                 <div class="content">
                  <ul>
                       <li>
                        Timecard Submission
                       </li>
                   </ul>
                 </div>
                 {% endif %}
                 <!-- Staff Access Only! -->
                  {% if user.is_authenticated  and  request.user.is_staff  %}
                 <div class="content">
                   <ul>
                       <li>
                        <a href = "{% url 'users:All_Users'%}">Job code Management</a>
                       </li>
                   </ul>
                      <ul>
                       <li>
                         <a href = "{% url 'donations:list_charities'%}"> Machine Management</a>
                       </li>
                   </ul>
                      <ul>
                       <li>
                         <a href = "{% url 'donations:list'%}">TimeCard Approval</a>
                       </li>
                   </ul>
                 </div>
          
                 <input type="checkbox" id="title2" />
                 <label for="title2" style="font-size: 30px; ">Donations</label>
          
                 <div class="content">
                  <ul>
                       <li>
                         <a href = "{% url 'donations:create'%}">Donate</a>
                       </li>
                   </ul>
                      <ul>
                       <li>
                         <a href = "{% url 'donations:list_my_donations'%}">My Donations</a>
                       </li>
                   </ul>
                 </div>
            </div>
           {%endif%}
            </div>
            <div class="main">
                {% block content %}
          
          
                {% endblock content %}
            </div>
          </div>
    </body>
</html>